<div class="modal-header">
    <h5 class="modal-title">Quy trình thanh toán vật tư phụ</h5>
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số phiếu:</span> {{item.soQuyTrinh}}
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span> {{item.created|date:"dd/MM/yyyy HH:mm"}}
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span> {{item.modified|date:"dd/MM/yyyy HH:mm"}}
        </div>
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm" (click)="Onclose()"></button>
            <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="GhiLai()" *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa" (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Chuyển tiếp" class="p-mr-2 p-button-sm"
                (click)="ChuyenTiep()" *ngIf="checkbutton.ChuyenTiep"></button>
        </div>
        <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.idDuAn" (onChange)="getListHopDong()"></p-dropdown>
            </div>
        </div> -->
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số hợp đồng <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listHopDong" placeholder="Chọn hợp đồng" styleClass="p-inputtext-sm" [(ngModel)]="item.idHopDong" (onChange)="getListDieuKhoanThanhToan()"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nội dung :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.noiDung" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Loại thanh toán :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoaiThanhToan" placeholder="Chọn loại thanh toán" (onChange)="getListDieuKhoanThanhToan()"
                styleClass="p-inputtext-sm" [(ngModel)]="item.loaiThanhToan"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ngày chứng từ <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.ngayThanhToan" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="item.loaiThanhToan === 2">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Chọn invoice :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-multiSelect [options]="listThanhToanInvoice" [(ngModel)]="listIdThanhToanInvoice" [filter]="true"
                [ngStyle]="{'width': '450px !important'}"
                [showToggleAll]="true" (onChange)="getListItem()"  [maxSelectedLabels] = "10" selectedItemsLabel = "{0} đợt được chọn"></p-multiSelect>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="item.loaiThanhToan === 1">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Điều khoản thanh toán :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listDieuKhoanThanhToan" placeholder="Chọn điều khoản thanh toán"
                styleClass="p-inputtext-sm" [(ngModel)]="item.idThanhToanDieuKhoan" (onChange)="layGiaTri()"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ghi chú :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.ghiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="item.loaiThanhToan===1">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Giá trị thanh toán hợp đồng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.giaTriThanhToanHopDong" disabled>
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="item.loaiThanhToan===2">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Giá trị thanh toán :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.giaTriThanhToan" disabled>
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="item.loaiThanhToan===1">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Giá trị thanh toán :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.giaTriThanhToan">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table [value]="item.listThanhToanMatHang|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines" *ngIf="item.loaiThanhToan===2">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Số invoice</th>
                        <th>Container</th>
                        <th>Số kiện (kiện)</th>
                        <th>Số lượng đã thanh toán</th>
                        <th>Số lượng</th>
                        <th>Số lượng thanh toán</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{item.ma}}</td>
                        <td class="text-right">{{item.soContainer|number:'0.0'}}</td>
                        <td class="text-right">
                            {{item.tongSoKien|number:'0.0'}}
                        </td>
                        <td class="text-right">
                            {{item.soLuongDaThanhToan|number:'0.0'}}
                        </td>
                        <td class="text-right">
                            {{item.tongKhoiLuong|number:'0.0'}}
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="en-EN" [(ngModel)]="item.soLuong" (ngModelChange)="TinhThanhTien()">
                            </p-inputNumber>
                        </td>
                        <td class="text-right">
                            {{item.donGia|number:'0.0'}}
                        </td>
                        <td class="text-right">
                            {{item.donGia*item.soLuong|number:'0.0'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="p-d-flex p-ai-center p-jc-start p-p-3">
                <button pButton pRipple label="Danh mục hồ sơ thanh toán" (click)="chonDanhMuc()" icon="pi pi-plus"
                  class="p-button-sm p-mr-2"></button>
                <div></div>
              </div>
            <p-table [value]="item.listHoSoDinhKem|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Nội dung</th>
                        <th>Bản gốc</th>
                        <th>Bản photo</th>
                        <th>Nộp đủ</th>
                        <th>File đính kèm</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{item.ten}}</td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.banGoc">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.banPhoto">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" class="p-inputtext-sm" [(ngModel)]="item.isNopDu" />
                        </td>
                        <td class="text-right">
                            <div class="p-inputgroup p-ml-lg-0 d-flex">
                                <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="item.listTen" disabled />
                                <button type="button" pButton pRipple icon="pi pi-upload" (click)="taiLenFileDinhKem(item)"
                                  class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"></button>
                              </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>