<p-table [value]="items" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
    [scrollable]="true">
    <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:50px">
          <col style="width:250px">
          <col style="width:250px">
          <!-- <col style="width:100px"> -->
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Ngày</th>
          <th>Nội dung</th>
          <!-- <th style="width: 100px;"><button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-sm "
            (click)="add()">
          </button></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class="text-center"> {{i + 1}}</td>
            <td class="text-center">{{item.Ngay | date:"dd/MM/yyyy"}}</td>
            <td class="text-center">{{item.NoiDungBienDong}}</td>
          <!-- <td class="text-center">
            <button pButton pRipple icon="pi pi-trash"
                  class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2" (click)="delete(i)"
                  pTooltip="Xóa" showDelay="1000" tooltipPosition="bottom"></button>
          </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <!-- <tr>
            <td class="text-center"><input type="text" class="p-inputtext-sm" [(ngModel)]="newitem.Loai" pInputText /> </td>
            <td class="text-center"><input type="text" class="p-inputtext-sm" [(ngModel)]="newitem.ThongTin" pInputText /> </td>
            <td class="text-center"><input type="text" class="p-inputtext-sm" [(ngModel)]="newitem.GhiChu" pInputText /> </td>
          <td class="text-center">
            
          </td>
        </tr> -->
  
      </ng-template>
</p-table>

