<div *ngIf="isLoading | async" class="overlay">
        <div class="col-12 d-flex flex-column justify-content-center" style="height: 100%;">
            <div class="mx-auto text-white" style="font-size: 26px;">Đang xử lý! Vui lòng đợi trong giây lát...</div>
            <div class="mx-auto">
                <div class="spinner-grow spinner-grow-dat09 text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-dat09 text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>