<div class="modal-header">
    <h5 class="modal-title">Lựa chọn kiện cho vay</h5>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
                    <button pButton pRipple label="Đóng"
                        class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
                        (click)="activeModal.dismiss('Cross click')"></button>
                </div>
                <div>
                    <div class="p-inputgroup">
                        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                            (keyup.enter)="filtertable_add()" [(ngModel)]="KeyWord" />
                        <button type="button" pButton pRipple icon="pi pi-refresh"
                            class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
                    </div>
                </div>
            </div>
            <p-table [lazy]="true" [scrollable]="true" scrollHeight="45vh" [value]="item.listItem"
                styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:30px">
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-checkbox [(ngModel)]="checkedAll" (onChange)="checkAll($event)" binary="true"
                                inputId="binary"></p-checkbox>
                        </th>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên kiện</th>
                        <th class="text-center">Mic</th>
                        <th class="text-center">Số lượng tồn</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td>
                            <p-checkbox [(ngModel)]="item.checked" binary="true"
                                inputId="binary" (onChange)="checkItem(item)"></p-checkbox>
                        </td>
                        <td>
                            {{ 15 * (paging.CurrentPage - 1) + i + 1 }}
                        </td>
                        <td class="text-left">
                            {{item.Ten}}
                        </td>
                        <td class="text-left">
                            {{item.Mic}}
                        </td>
                        <td class="text-right">
                            {{item.TonSoLuong|number:'0.0-0' }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Tổng số bản ghi {{paging.TotalItem}}.<p-paginator #paginator [totalRecords]="paging.TotalItem"
                            [rows]="15" (onPageChange)="changePage($event)"></p-paginator>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>