<div class="p-mb-3 p-mt-3">
  <h4 style="color:#1f2779">Quy trình đánh giá nhà cung ứng</h4>
</div>

<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
  <button pButton label="Thêm mới" icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="Add()"></button>
  <div></div>
  <div class="p-d-flex p-flex-row">
    <div class="p-mr-2">
        <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [(ngModel)]="filter.TuNgay" [showIcon]="true" inputId="icon" placeholder="Từ ngày" (onSelect)="LoadData()">
        </p-calendar>
    </div>
    <div class="p-mr-2">
        <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [(ngModel)]="filter.DenNgay" [showIcon]="true" inputId="icon" placeholder="Đến ngày" (onSelect)="LoadData()">
        </p-calendar>
    </div>
    <div class="p-inputgroup" style="width: 200px;">
        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" [(ngModel)]="filter.keyword" (keyup.enter)="LoadData()" pInputText/>
        <button type="button" pButton pRipple icon="pi pi-search"class="p-button-secondary p-button-sm p-button-text" (click)="LoadData()"></button>
        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm p-button-text" (click)="ResetFilter()"></button>
    </div>
  </div>
</div>

<p-tabView (onChange)="changeTab($event)" styleClass="no-content">
  <p-tabPanel header="Chưa xử lý"></p-tabPanel>
  <p-tabPanel header="Đã xử lý"></p-tabPanel>
  <p-tabPanel header="Tổng hợp"></p-tabPanel>
</p-tabView>

<p-table [value]="items"  styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col style="width: 50px">
      <col>
      <col>
      <col>
      <col>
      <col style="width: 100px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>STT</th>
      <th>Số quy trình</th>
      <th>Ngày</th>
      <th>Nội dung</th>
      <th>Trạng thái</th>
      <th>Thao tác</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td class="text-center">
        {{ 20 * (paging.currentPage - 1) + i + 1 }}
      </td>
      <td class="text-center">
        {{item.SoQuyTrinh}}
      </td>
      <td class="text-center">{{item.Ngay|date:'dd/MM/yyyy'}}</td>
      <td>{{item.NoiDung}}</td>
      <td class="text-center">{{item.TenTrangThai}}</td>
      <td class="text-center">
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-text p-button-sm p-button-secondary p-mr-2" pTooltip="Chỉnh sửa" (click)="changeParam(item.Id)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between p-px-2">
      Tổng số bản ghi {{paging.totalCount}}.
      <p-paginator #paginator [totalRecords]="paging.totalCount" [rows]="20" (onPageChange)="changePage($event)"></p-paginator>
    </div>
  </ng-template>
</p-table>