<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <!-- <div class="p-col-3">
        <h4 style="color:#1f2779">Thẻ kho</h4>
    </div> -->
    <div class=" d-flex flex-column flex-lg-row p-ai-center p-jc-between p-col-12">
        <div class="p-mr-2">
            <h4 style="color:#1f2779">Danh sách chi tiết hồi ẩm</h4>
        </div>
        <div></div>
        <div class="d-flex flex-column flex-lg-row">
            <div class="p-mr-2">
                <p-dropdown [filter]="true" [options]="listdmKho" placeholder="Chọn kho"
                    styleClass="p-inputtext-sm" [(ngModel)]="filter.IddmKho" (onChange)="GetListQuyTrinh(true)">
                </p-dropdown>
            </div>
            <div class="p-inputgroup" style="width:200px">
                <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                    (keyup.enter)="GetListQuyTrinh(true)" [(ngModel)]="filter.KeyWord" />
                <button type="button" pButton pRipple icon="pi pi-search"
                    class="p-button-secondary p-button-sm p-button-text" (click)="GetListQuyTrinh(true)"
                    pTooltip="Tìm kiếm" showDelay="1000" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-refresh"
                    class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
            </div>
        </div>
    </div>

</div>
<div class="p-grid">
    <div class="p-col-12">
        <p-table [value]="items" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [scrollable]="true">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:50px">
                    <col style="width:10rem">
                    <col style="width:10rem">
                    <col *ngIf="loai === 11" style="width:10rem">
                    <col style="width:10rem">
                    <col style="width:10rem">
                    <col style="width: 5rem;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" rowspan="2">STT</th>
                    <th class="text-center" rowspan="2">Mã</th>
                    <th class="text-center" rowspan="2">Tên</th>
                    <th class="text-center" *ngIf="loai === 11" rowspan="2">Tên lô hàng</th>
                    <th colspan="2">Tồn</th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="text-center">Số quả sợi</th>
                    <th class="text-center">Trọng lượng (kg)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td class="text-center">
                        {{ 50 * (paging.CurrentPage - 1) + i + 1 }}
                    </td>
                    <td class="text-center">
                        {{item.Ma}}
                    </td>
                    <td class="text-center">
                        {{item.Ten}}
                    </td>
                    <td class="text-center" *ngIf="loai === 11">
                        {{item.TenLoHang}}
                    </td>
                    <td class="text-right">
                        {{item.SoLuong|number:'0.0'}}
                    </td>
                    <td class="text-right">
                        {{item.TongTrongLuong|number:'0.2-2'}}
                    </td>
                    <td class="text-center">
                        <button pButton pRipple type="button" icon="pi pi-eye"
                            class="p-button-text p-button-sm p-button-secondary p-mr-2"
                            (click)="GetTheKho(item)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng số bản ghi {{paging.TotalItem}}.<p-paginator #paginator [totalRecords]="paging.TotalItem"
                        [rows]="50" (onPageChange)="changePage($event)"></p-paginator>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>