<div class="p-d-flex p-ai-center p-jc-start ">
    <button pButton (click)="add()" pRipple label="Tạo mới" icon="pi pi-plus" class="p-button-sm p-mr-2"></button>
    <div></div>
</div>
<div class="p-mt-3">
    <p-table [value]="listNhanSu" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Tên nhân sự</th>
                <th>Chức vụ</th>
                <th>Quyết định</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Trạng thái</th>
                <th></th>
                <!-- <th *ngFor="let header of cols"> {{header.header}} </th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td class="text-center">{{ item.ten }}</td>
                <td class="text-center">{{ item.chucVu }}</td>
                <td class="text-center">{{ item.soQuyetDinh }}</td>
                <td class="text-center">{{ item.ngayBatDau | date: "dd/MM/yyyy" }}</td>
                <td class="text-center">{{ item.ngayKetThuc | date: "dd/MM/yyyy" }}</td>
                <td class="text-center">{{ item.tenTrangThai }}</td>
                <td class="text-center date">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-text p-button-sm p-button-secondary p-mr-2" (click)="edit(item, i)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-sm p-button-secondary" (click)="delete(i)"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">Tổng số bản ghi</div>
        </ng-template>
    </p-table>
</div>