<div class="modal-header">
    <h5 class="modal-title">
        {{title}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- <span class="p-button-sm p-button-sm p-button-text close" aria-hidden="true"
    (click)="activeModal.dismiss('Cross click')">×</span> -->
</div>
<div class="modal-body">
    <div class="col-12 col-lg-12">
    <div class=" p-flex-row p-jc-between">
        <!-- <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm "
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm "
                (click)="GhiLai()"></button>
        </div> -->
        <div class="p-grid">
            <div class="p-col-12 p-lg-8 d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-3 p-p-0 my-auto">Mã: </label>
                <div class="p-col-12 p-lg-9 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ma" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-lg-4 d-flex flex-column flex-xl-row">
                    <p-checkbox  class="p-mr-2" [(ngModel)]="item.isHoatDong" binary="true" inputId="binary"></p-checkbox>
                    <label class="p-m-0" for="binary">Hoạt động </label>
            </div>
            <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tên: </label>
                <div class="p-col-12 p-lg-8 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-lg-6   d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-4 p-p-0 my-auto">Địa chỉ: </label>
                <div class="p-col-12 p-lg-8 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.DiaChi" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-lg-6   d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số điện thoại: </label>
                <div class="p-col-12 p-lg-8 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoDienThoai" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-lg-6   d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-4 p-p-0 my-auto">Mã số thuế: </label>
                <div class="p-col-12 p-lg-8 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.MaSoThue" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-lg-12 d-flex flex-column flex-xl-row">
                <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú: </label>
                <div class="p-col-12 p-lg-10 p-p-0">
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<div class="modal-footer p-d-flex p-flex-column p-flex-sm-row p-jc-between p-mb-3">
    <button pButton pRipple label="Đóng"  class="p-button-sm p-mr-2"
        (click)="activeModal.dismiss()"></button>
    <button pButton pRipple label="Chấp nhận" icon="pi pi-save" class="p-button-sm p-mr-2" (click)="GhiLai()"></button>
</div>