.tc-w-151{
    min-width: 151px !important; 
    max-width: 151px !important;
}
.tc-w-200{
    min-width: 200px !important; 
    max-width: 200px !important;
}
.tc-w-250{
    min-width: 250px !important; 
    max-width: 250px !important;
}
.tc-w-121{
    min-width: 121px !important; 
    max-width: 121px !important;
}
.tc-w-100{
    min-width: 100px !important; 
    max-width: 100px !important;
}
.tc-w-160{
    min-width: 160px !important; 
    max-width: 160px !important;
}