<div class="p-grid">
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Loại tài sản : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listLoaiTaiSan" placeholder="Chọn loại tài sản"
                [(ngModel)]="item.IddmLoaiTaiSan" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Mã tài sản : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ma" pInputText />
        </div>
    </div>
    <!-- <div class="p-col-12 p-lg-4  p-p-3">
            <qrcode [qrdata]="item.Id" [width]="100" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
        </div> -->
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">

    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Nhóm tài sản : </label>
        <div class="p-col-12 p-xl-8 p-p-0 d-flex">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TenNhomTaiSan" pInputText />
                <button pButton pRipple icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="ChonTaiSan()"></button>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Tên tài sản : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Số lượng : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.SoLuong">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Model : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Modem" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Số seri : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoSeri" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Đơn vị năng suất : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.DonViNangSuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Tuổi thọ (tháng) : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-inputNumber [minFractionDigits]="1" locale="en-EN" [(ngModel)]="item.TuoiTho"> </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Nước sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.NuocSanXuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Hãng sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.HangSanXuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Nhà cung cấp : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listCungSanXuat" placeholder="Nhập nhà cung cấp"
                [(ngModel)]="item.IddmNhaCungUng" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Ngày sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true"
                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.NgayNhap"
                inputId="icon" placeholder="dd/mm/yyyy">
            </p-calendar>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Thời gian đưa vào sử dụng: </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true"
                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.ThoiGianDuaVaoSuDung"
                inputId="icon" placeholder="dd/mm/yyyy">
            </p-calendar>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Số năm khấu hao : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.SoNamKhauHao"> </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Nguyên giá: </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.NguyenGia" (onBlur)="edit(item)">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Giá trị còn lại : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.GiaTriConLai"> </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Bộ phận sử dụng : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listPhanXuong" [(ngModel)]="item.IdBoPhanSuDung"
                placeholder="Chọn bộ phận" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Tài liệu đính kèm : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <div class="p-inputgroup">
                <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="item.FileName">
                <button type="button" pButton pRipple icon="pi pi-upload"
                    class="p-button-sm p-button-text p-button-secondary" (click)="taiLenFileDinhKem()"></button>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
        <div class="p-field-checkbox p-col-12 p-xl-4 p-p-0 my-auto">
            <p-checkbox binary="true" [(ngModel)]="item.isGiaTriCao"></p-checkbox>
            <label>Giá trị cao</label>
        </div>
        <div class="p-field-checkbox p-col-12 p-xl-4 p-p-0 my-auto">
            <p-checkbox (onClick)="isCanDuTru()" binary="true" [(ngModel)]="item.isCanDuTru"></p-checkbox>
            <label>Cần dự trữ</label>
        </div>
        <div *ngIf="item.isCanDuTru" class="p-col-12 p-xl-4 p-p-0 my-auto">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.DuTruToiThieu">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-p-0 my-auto">Ghi chú : </label>
        <div class="p-col-12 p-xl-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
        </div>
    </div>
</div>
