<div class="modal-header">
    <h5 style="color:#1f2779" class="modal-title">Giao nhận hàng hoá</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
          <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
          <div class="p-col-12 p-lg-8 p-p-0">
              <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                  [(ngModel)]="item.NhaMay"></p-dropdown>
          </div>
      </div> -->
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số phiếu:</span>
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span>
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span>
        </div>
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm" (click)="activeModal.dismiss('close')"></button>

            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm "></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm"></button>
            <!-- <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                  *ngIf="checkbutton.KhongDuyet"></button> -->
            <!-- <button pButton pRipple type="button" label="" class="p-mr-2 p-button-sm"
                  (click)="GhiLai()" *ngIf="checkbutton.ChuyenTiep"></button> -->
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-3 p-xl-2 p-p-0 my-auto">Nội dung <span class="required">*</span></label>
            <div class="p-col-12 p-xl-10 p-lg-9 p-p-0">
                <input type="text" class="p-inputtext-sm" pInputText/>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-xl-2 p-lg-3 p-p-0 my-auto">Số hợp đồng:</label>
            <div class="p-col-12 p-lg-9 p-xl-10 p-p-0">
                <p-dropdown [filter]="true" placeholder="Chọn số hợp đồng" styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-3  p-xl-2  p-p-0 my-auto">Thơi gian giao/nhận hàng</label>
            <div class="p-col-12 p-lg-3 p-xl-4 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>

            <label class="p-col-12 p-lg-2 p-xl-1  p-p-0 my-auto p-ml-3">Giá trị thanh toán</label>
            <div class="p-col-12 p-lg-4 p-xl-5  p-p-0">
                <p-inputNumber #inputNumber [minFractionDigits]="0" locale="en-EN">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-1 p-p-0 my-auto">Ghi chú </label>
            <div class="p-col-12 p-lg-11 p-p-0">
                <input type="text" class="p-inputtext-sm" pInputText/>
            </div>
        </div>
        <!-- <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
              <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ca làm việc:</label>
              <div class="p-col-12 p-lg-8 p-p-0">
                  <p-dropdown [filter]="true" [options]="listCaMay" placeholder="Chọn ca" [(ngModel)]="item.IddmCaSanXuatThucTe"
                  styleClass="p-inputtext-sm"></p-dropdown>
              </div>
          </div>
          <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
              <label class="p-col-12 p-lg-4 p-p-0 my-auto">Phân xưởng:</label>
              <div class="p-col-12 p-lg-8 p-p-0">
                  <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn phân xưởng" 
                  [(ngModel)]="item.IddmPhanXuong"
                  styleClass="p-inputtext-sm"></p-dropdown>
              </div>
          </div>
          <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
              <label class="p-col-12 p-lg-4 p-p-0 my-auto">Thời điểm:</label>
              <div class="p-col-12 p-lg-8 p-p-0">
                  <p-dropdown [filter]="true" [options]="listCaSanXuat" placeholder="Thời điểm"
                      styleClass="p-inputtext-sm" [(ngModel)]="item.IddmCaSanXuat"></p-dropdown>
              </div>
          </div>
          <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
              <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ghi chú:</label>
              <div class="p-col-12 p-lg-8 p-p-0">
                  <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="item.GhiChu"/>
              </div>
          </div> -->
        <div class="p-col-12 p-p-0 d-flex flex-column">

            <!-- // [scrollable]="true"  scrollHeight="40vh" -->
            <p-table styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:30px">
                        <col style="width:15rem">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>ĐVT</th>
                        <th>Sản lượng nhập</th>
                        <!-- <th>Sản lượng thành phẩm lũy kế (Kg)</th> -->

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <!-- <tr>
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-center">{{item.Ma}}</td>
                          <td class="text-center">{{item.Ten}}</td>
                          <td class="text-center">{{item.TenLoHang}}</td>
                          <td class="text-center">
                              <p-dropdown [filter]="true" [options]="listKgCone" placeholder="Chọn Kg/cone" 
                                  [(ngModel)]="item.KgCone" (onChange)="tinhKLTT(item)"
                                  styleClass="p-inputtext-sm"></p-dropdown>
                          
                          </td>
                     
                          <td class="text-center">
                              <div style="display: inline-flex;">
                                  <p-inputNumber #inputNumber (keyup.enter)="enter(i)" [tabindex]="i+1" [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.SoQuaSoiThucTe"
                                  (onBlur)="tinhKLTT(item)">
                                  </p-inputNumber>
                                  <button pButton pRipple icon="pi pi-ellipsis-v"
                                      class="p-button-sm p-button-rounded p-button-secondary p-button-text"
                                      (click)="tinhToan(item,'SoQuaSoiThucTe')" pTooltip="Tính toán" showDelay="1000"
                                      tooltipPosition="bottom"></button>
                              </div>
                          </td>
                        
                          <td class="text-right">
                              {{item.KLTT|number:'0.2-2'}}
                            
                          </td>
                      
                          <td class="text-center">
                              <input pInputText type="text" [(ngModel)]="item.GhiChu">
                          </td>
                          <td>
                              <button pButton pRipple icon="pi pi-trash"
                                  class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                  (click)="delete(i)" pTooltip="Xóa" showDelay="1000"
                                  tooltipPosition="bottom" tabindex="-1"></button>
                          </td>
                      </tr> -->
                </ng-template>

            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
      <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
          (click)="activeModal.dismiss()"></button> -->
</div>