<p-table [value]="item" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm" [scrollable]="true">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:50px">
            <col style="width:200px">
            <col style="width:200px">
            <col style="width:100px">
            <col style="width:100px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>STT</th>
            <th>Ngày tính khấu hao</th>
            <th>Giá trị trước tính</th>
            <th>Tỉ lệ khấu hao</th>
            <th> Gía trị còn lại</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class="text-center"> {{i + 1}}</td>
            <td class="text-center"></td>
            <td class="text-center"><input type="text" class="p-inputtext-sm" [(ngModel)]="item.NoiDung" pInputText /></td>
            <td class="text-center"><input type="text" class="p-inputtext-sm" [(ngModel)]="item.NoiDung" pInputText /></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
    </ng-template>
</p-table>