<div class="modal-header">
    <h4 style="color:#1f2779">
        Lập kế hoạch lịch xích năm</h4>
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số quy trình:</span> {{item.SoQuyTrinh}}
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span> {{item.Created|date:"dd/MM/yyyy HH:mm"}}
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span> {{item.Modified|date:"dd/MM/yyyy HH:mm"}}
        </div>
    </div>

</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm "
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple *ngIf="checkbutton.Ghi" type="button" label="Ghi lại" class="p-mr-2 p-button-sm "
                (click)="GhiLai()"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton *ngIf="checkbutton.ChuyenTiep" pRipple type="button" label="Chuyển duyệt"
                class="p-mr-2 p-button-sm " (click)="ChapNhan()"></button>
            <button pButton *ngIf="checkbutton.KhongDuyet" pRipple type="button" label="Không duyệt"
                class="p-mr-2 p-button-sm " (click)="KhongDuyet()"></button>
        </div>
    </div>
    <div class="p-grid">

        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input locale="en-EN" [(ngModel)]="item.NoiDung" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-5  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Bộ phận sử dụng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listPhanXuong" [(ngModel)]="item.IdBoPhanSuDung"
                    placeholder="Chọn bộ phận"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Loại tài sản:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoaiTaiSan" (onChange)="ChonLoaiTaiSan(item)"
                    [(ngModel)]="item.IddmLoaiTaiSan" placeholder="Chọn tài sản" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-5  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Chọn năm:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <!-- <p-dropdown [filter]="true" [options]="listNam" [(ngModel)]="item.ThoiGian" placeholder="Chọn năm" styleClass="p-inputtext-sm"
                ></p-dropdown> -->
                <p-calendar dateFormat="yy" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="yearRange" [showIcon]="true" inputId="icon" placeholder="yyyy"
                    [(ngModel)]="item.ThoiGian">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-12  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-1 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-11 p-p-3">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>
    </div>

    <div class="p-d-flex p-flex-row p-jc-between p-grid">
        <div class="modal-bt p-mb-4 p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-lg-row ">
            <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
                (click)="ThemMoiDanhSachTaiSan()"></button>
        </div>
    </div>
    <p-tabView (onChange)="changeTab($event)">
        <p-tabPanel header="Danh sách tài sản">
            <!-- <div class="p-d-flex p-flex-row p-jc-between p-grid">
            <div class="modal-bt p-mb-4 p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-lg-row ">
                <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
                    (click)="ThemMoiDanhSachTaiSan()"></button>
            </div>
            <div class="modal-bt p-mb-4 p-col-12 p-lg-6  p-p-3 d-flex flex-column flex-lg-row">
            </div>
            <div class="modal-bt p-mb-4 p-col-12 p-lg-2  p-p-3 d-flex flex-column flex-lg-row">
                <label class="p-col-12 p-lg-4 p-p-0 my-auto"> </label>
                <div class="p-col-12 p-lg-8 p-p-0">
                    Tổng số: {{item.listTaiSan?.length}}thiết bị
                </div>
            </div>
        </div> -->
            <p-table [value]="item.listTaiSan " styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:100px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Mã,tên tài sản</th>
                        <th class="text-center">Tháng 1</th>
                        <th class="text-center">Tháng 2</th>
                        <th class="text-center">Tháng 3</th>
                        <th class="text-center">Tháng 4</th>
                        <th class="text-center">Tháng 5</th>
                        <th class="text-center">Tháng 6</th>
                        <th class="text-center">Tháng 7</th>
                        <th class="text-center">Tháng 8</th>
                        <th class="text-center">Tháng 9</th>
                        <th class="text-center">Tháng 10</th>
                        <th class="text-center">Tháng 11</th>
                        <th class="text-center">Tháng 12</th>
                        <th class="text-center">Tổng số:</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <!-- <td class="text-center"> {{item.TenTaiSan}}</td>
                    <td class="text-center" *ngFor="let baoduong of item.listBaoDuong"
                        (click)="Chon(baoduong,item.listLichBaoDuong)">
                        <p>{{baoduong.listChiTiet[0]?.TendmLoaiBaoDuong}}</p>
                        <a href="javascript:void(0)">Chọn</a>
                    </td> -->
                        <td class="text-center"> {{item.TenTaiSan}}</td>
                        <td class="text-center" *ngFor="let baoduong of item.listBaoDuong"
                            (click)="Chon(baoduong,item.listLichBaoDuong)">
                            <p *ngFor="let bd of baoduong.listChiTiet">{{bd.TendmLoaiBaoDuong}}</p>
                            <a href="javascript:void(0)">Chọn</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>

        <p-tabPanel  header="Vật tư thay thế">
            <ng-template pTemplate="content">
                <app-vattuthaythelichxichnam></app-vattuthaythelichxichnam>
            </ng-template>
        </p-tabPanel>

        <p-tabPanel header="Chi phí">
            <ng-template pTemplate="content">
                <app-chiphilichxichnam></app-chiphilichxichnam>
            </ng-template>
        </p-tabPanel>
    </p-tabView>

  
</div>
<div class="modal-footer">

</div>