.tc-w-151{
    min-width: 151px !important; 
    max-width: 151px !important;
}
.tc-w-260{
    min-width: 260px !important; 
    max-width: 260px !important;
}
.tc-w-121{
    min-width: 121px !important; 
    max-width: 121px !important;
}
.tc-w-140{
    min-width: 140px !important; 
    max-width: 140px !important;
}
.tc-w-100{
    min-width: 100px !important; 
    max-width: 100px !important;
}
.tc-w-60{
    min-width: 60px !important; 
    max-width: 60px !important;
}
.tc-w-300{
    min-width: 300px !important; 
    max-width: 300px !important;
}
.tc-w-400{
    min-width: 400px !important; 
    max-width: 400px !important;
}