<div class="p-mb-3 p-mt-3"></div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <div></div>
    <div class="p-d-flex p-flex-row">    
    </div>
</div>
<p-table [value]="listItems" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm" [scrollable]="true">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:50px">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 200px;">      
            <col style="width: 200px;">  
            <col style="width: 200px;">      
            <col style="width: 200px;">   
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Số quy trình</th>
            <th class="text-center">Nhà máy</th>
            <th class="text-center">Bộ phận</th>   
            <th class="text-center">Ngày sự cố</th> 
            <th class="text-center">Loại sự cố</th>   
            <th class="text-center">Mô tả</th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Chon_Vao let-i="rowIndex">
        <tr>
            <td class="text-center">
                {{i+1}}
            </td>
            <td class="text-center">{{Chon_Vao.LoaiBienDong	}}</td>
            <td class="text-center">{{Chon_Vao.NoiDungBienDong}}</td>        
            <td class="text-center">{{Chon_Vao.TendmPhanXuong}}</td>   
            <td class="text-center">{{Chon_Vao.Ngay|date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{Chon_Vao.Ngay|date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{Chon_Vao.TendmPhanXuong}}</td>      
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Tổng số bản ghi {{paging.TotalCount}}.<p-paginator #paginator [totalRecords]="paging.TotalCount" [rows]="20"
            (onPageChange)="changePage($event)"></p-paginator>
        </div>
    </ng-template>
</p-table>
