<div class="modal-header">
  <h5 class="modal-title">{{title}}</h5>
  <div class="d-flex flex-column flex-lg-row">
    <div>
      <span style="font-weight: bold;">Số quy trình:</span> {{item.SoQuyTrinh}}
    </div>
    <div class="ml-lg-3 mr-lg-3">
      <span style="font-weight: bold;">TG Tạo:</span> {{item.Created|date:"dd/MM/yyyy HH:mm"}}
    </div>
    <div>
      <span style="font-weight: bold;">TG Duyệt:</span> {{item.Modified|date:"dd/MM/yyyy HH:mm"}}
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="p-d-flex p-flex-row p-jc-between">
    <div class="modal-bt p-mb-4 ">
      <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
        (click)="activeModal.dismiss()"></button>
      <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="GhiLai()"
        *ngIf="checkbutton.Ghi"></button>
      <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
        (click)="XoaQuyTrinh()"></button>
      <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
        *ngIf="checkbutton.KhongDuyet"></button>
      <button pButton pRipple type="button" label="Chuyển tiếp" class="p-mr-2 p-button-sm" (click)="ChuyenDuyet()"
        *ngIf="checkbutton.ChuyenTiep"></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-xl-2 p-lg-2 p-p-0 my-auto">Bộ phận chuyển<span class="required">*</span></label>
      <div class="p-col-12 p-xl-10 p-lg-10 p-p-0">
        <p-dropdown [filter]="true" [options]="listdmPhanXuong" placeholder="Bộ phận sử dụng"
          styleClass="p-inputtext-sm" [(ngModel)]="item.IdBoPhanSuDungChuyen"></p-dropdown>
      </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-xl-2 p-lg-2 p-p-0 my-auto">Bộ phận đến<span class="required">*</span></label>
      <div class="p-col-12 p-xl-10 p-lg-10 p-p-0">
        <p-dropdown [filter]="true" [options]="listdmPhanXuong" placeholder="Bộ phận sử dụng"
          styleClass="p-inputtext-sm" [(ngModel)]="item.IdBoPhanSuDungDen"></p-dropdown>
      </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung:</label>
      <div class="p-col-12 p-lg-10 p-p-0">
        <input type="text" class="p-inputtext-sm" [(ngModel)]="item.NoiDung" pInputText />
      </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
      <div class="p-col-12 p-lg-10 p-p-0">
        <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
      </div>
    </div>
  </div>
  <p-panel header="Tài sản" [toggleable]="true">
    <div class="p-d-flex p-flex-row p-jc-between">
      <div class="modal-bt p-mb-4 ">
        <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
          (click)="ThemMoiDanhSachTaiSan()" *ngIf="tabTrangThai===0"></button>
      </div>
    </div>

    <p-treeTable [value]="listTaiSan_copy" styleClass="p-treetable p-treetable-caption">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:60px">
          <col>
          <col>
          <col>
          <col>
          <col style="width: 100px;" *ngIf="tabTrangThai===1">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">STT</th>
          <th class="text-center">Mã</th>
          <th class="text-center">Tên</th>
          <th class="text-center">Số lượng</th>
          <th class="text-center">Ghi chú</th>
          <th *ngIf="tabTrangThai===1"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
          <td class="text-center">{{rowData.STT}}</td>
          <td class="text-center">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.TaiSan.Ma}}
          </td>
          <td>{{rowData.TaiSan.Ten}}</td>
          <td>
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="rowData.SoLuong"></p-inputNumber>
          </td>
          <td>
            <input type="text" class="p-inputtext-sm" [(ngModel)]="rowData.GhiChu" pInputText />
          </td>
          <td class="text-center" *ngIf="tabTrangThai===1">
            <button pButton pRipple type="button" icon="pi pi-trash"
              class="p-button-text p-button-sm p-button-secondary p-mr-2" pTooltip="Xóa"
              (click)="XoaTaiSan(item,rowData.STT)"></button>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </p-panel>
</div>